@model CRM.Models.Contact

@functions{
    string PrintIfNotNull(string text)
    {
        if (!String.IsNullOrEmpty(text))
        {
            return text;
        }
        else
        {
            return "";
        }
    }

}
<div class="container">
    <div class="row">
        @*Column to list and add tags*@
        <div class="col-md-4 p-2 m-3 border-right">
            <form asp-controller="Tags" asp-action="AddTag" asp-route-Id="@Model.Id">

                <input autocomplete="off" name="tagName" class="form-control tag-input" id=@Model.Id />
                <div class="autocomplete hidden m-t-0 p-2 border-1" id="autocomplete">
                </div>

            </form>
            <div class="mt-4 tags">
                @foreach (ContactTag tag in Model.Tags)
                {
                    <div class="tag"><span class="delete-tag" id=@tag.Id>x</span>@Html.DisplayFor(item => tag.Tag.Name)</div>
                }
            </div>
        </div>

        @*Column to list contact info*@
        <div class="col-md-6 p-2 m-1">
            <h4>@Html.DisplayFor(model => model.FullName)</h4>
            <p>@Html.DisplayNameFor(model => model.Organization): @PrintIfNotNull(Model.Organization)</p>
            <p>@Html.DisplayNameFor(model => model.Role): @PrintIfNotNull(Model.Role)</p>
            <p>@Html.DisplayNameFor(model => model.Email): <a href="mailto:{@Model.Email}">@PrintIfNotNull(Model.Email)</a></p>
            <p>@Html.DisplayNameFor(model => model.PhoneNumber): @PrintIfNotNull(Model.PhoneNumber)</p>
        </div>
    </div>
    <div class="row card-group">
        @foreach (Note note in Model.Notes)
        {
            <div class="card p-2 m-2">
                <div class="card-body">
                    @Html.DisplayFor(item => note.Text)
                </div>
            </div>
        }
    </div>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
